.stack, .description {
  font-size: 16px;
}
.stack {
  margin: 16px 0;
  display: flex;
  gap: 10px;
  font-size: 14px;
  div {
    background: #B5CEFF;
    padding: 8px;
    border-radius: 1rem;
  }
}

.title {
  font-size: 20px;
}

.bottom-desc {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  & > * {
    display: flex;
    justify-content: space-between;
  }
}
mat-card {
  background: white;
  color: gray;
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  padding: 10px;
}
