<span [style]="{'color': '#0057FF', 'font-size': '16px'}" [routerLink]="['/']">Wstecz</span>
  <mat-card>
    <mat-card-header>
      <div class="title">{{offer.name}}</div>
      <div class="stack">
        <div *ngFor="let tech of offer.technologies">{{tech}}</div>
      </div>
    </mat-card-header>
  <div class="description">
    {{offer.description}}
  </div>
  <div class="bottom-desc">
    <div><div>{{offer.city}}</div><div>{{offer.company.name}}</div></div>
    <div><div>{{offer.workMode[0].toUpperCase()+offer.workMode.toLowerCase().slice(1)}}</div><div>{{offer.position}}</div></div>
  </div>
    <mat-card-actions>
      <button mat-flat-button color="primary" [routerLink]="['/', 'accept-offer', offer.id]">Aplikuj</button>
    </mat-card-actions>
</mat-card>
